pytorch-lightning==2.1.0
torch==2.0.1
torchvision==0.15.2
torchaudio==2.0.2
numpy==1.24.3
pillow==10.0.0
omegaconf==2.3.0
PyYAML==6.0.1
tensorboard==2.14.0
segmentation-models-pytorch==0.3.3
tqdm==4.65.0